body 
{
	font-family: Monospace, Courier;
	max-width: 1030px;  /* for pc */
	padding-left: 2ch;
	padding-right: 3ch;
	margin: 0 auto;
	background: #F5F5F0;
}

a 
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.aUnderlined
{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.aUnderlinedPubli
{
	color: black;
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
}

.left {
	border: 1px solid black;
	float: left;
	max-width:20%;
	margin: 0 10px 0 10px;
    height:auto;
}

img 
{
	max-width: 1024px;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p 
{
	margin-top: 0px;
	margin-bottom: 25pt;
	text-align: justify;
}

/* For small screen devices */
@media (max-width: 500px) 
{ 
	body 
	{
		font-size: 12px;
	}
	img
	{
		max-width: 30em;
	}
}

/* For small screen devices */
@media (max-width: 800px) 
{ 
	img
	{
		max-width: 35em;
	}
}